@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}



@layer base {
  :root {
    --background: hsl(15, 13%, 6%);
    --foreground: hsl(60, 9.1%, 97.8%);
    --card: hsl(20, 14.3%, 4.1%);
    --card-foreground: hsl(60, 9.1%, 97.8%);
    --popover: hsl(20, 14.3%, 4.1%);
    --popover-foreground: hsl(60, 9.1%, 97.8%);
    --primary: hsl(20.5, 90.2%, 48.2%);
    --primary-foreground: hsl(60, 9.1%, 97.8%);
    --secondary: hsl(12, 6.5%, 15.1%);
    --secondary-foreground: hsl(60, 9.1%, 97.8%);
    --muted: hsl(12, 6.5%, 15.1%);
    --muted-foreground: hsl(24, 5.4%, 63.9%);
    --accent: hsl(12, 6.5%, 15.1%);
    --accent-foreground: hsl(60, 9.1%, 97.8%);
    --destructive: hsl(0, 72.2%, 50.6%);
    --destructive-foreground: hsl(60, 9.1%, 97.8%);
    --border: hsl(12, 6.5%, 15.1%);
    --input: hsl(12, 6.5%, 15.1%);
    --ring: hsl(20.5, 90.2%, 48.2%);
  }

  .dark {
    --background: hsl(15, 13%, 6%);
    --foreground: hsl(60, 9.1%, 97.8%);
    --card: hsl(20, 14.3%, 4.1%);
    --card-foreground: hsl(60, 9.1%, 97.8%);
    --popover: hsl(20, 14.3%, 4.1%);
    --popover-foreground: hsl(60, 9.1%, 97.8%);
    --primary: hsl(20.5, 90.2%, 48.2%);
    --primary-foreground: hsl(60, 9.1%, 97.8%);
    --secondary: hsl(12, 6.5%, 15.1%);
    --secondary-foreground: hsl(60, 9.1%, 97.8%);
    --muted: hsl(12, 6.5%, 15.1%);
    --muted-foreground: hsl(24, 5.4%, 63.9%);
    --accent: hsl(12, 6.5%, 15.1%);
    --accent-foreground: hsl(60, 9.1%, 97.8%);
    --destructive: hsl(0, 72.2%, 50.6%);
    --destructive-foreground: hsl(60, 9.1%, 97.8%);
    --border: hsl(12, 6.5%, 15.1%);
    --input: hsl(12, 6.5%, 15.1%);
    --ring: hsl(20.5, 90.2%, 48.2%);
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }